.Back {  
 z-index: 250 !important;
   
 transform: rotateY(180deg);    
 font-size: 8px;
 justify-content: center;
 align-items: center;
 display: flex;
 /* border: 2px solid red;
 background-color: black; */
 display: flex;
 height: 22.5vw;
 width: 22.5vw;  

    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

