.PrevButton {
    margin-right: 10px;
    
    background: #fff;
    border:none;
   
    outline: none;
}

.isEnabled {
    cursor: pointer;
}

.Icon {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
}

.IconShape {
    fill: #00000070;    
}