.Toolbar {   
    background-color: #00000070;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}



@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}