.Container{   
    min-height:100vh;
    max-height:100vh;
    margin: 0rem auto;  
    display: flex;
    flex-direction: column;
}

.Header  {   
    
 
}

.Player {
    width: 100%;      
    
}

.Main { 
    flex: 1;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center; 
  
}

