.Input {
    font-family: inherit;
    font-size: inherit;
    color: #666;    
    border: none;
    padding: .7rem 2rem;
    background: #fff;
    border-radius: 8px; 
    transition: all .2s;   
    width: 80%;  
    margin-right: -3.25rem;
}

.Input:focus {
    outline: none;
    width: 90%;
    background-color: #d1cece; 
}

.Button {
    border: none;
}

.Button:focus {
    outline: none;
}


.Search {

    flex: 0 0 40%;
    display: flex;   
    align-items: center;
    justify-content: center;
}



