*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
  margin: 0;
  padding: 0;

  background: #1A1A1A;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
  font-family: sans-serif; 
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 

}
